/* 
Google Fonts:
font-family: 'Roboto', sans-serif;
font-family: 'Silkscreen', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Silkscreen&display=swap');

body {
    text-align: center;
    color: #fff;
    background-color: #000;
    font-family: 'Silkscreen', cursive;
}

#rockBtn, #paperBtn, #scissorsBtn {
    font-family: 'Silkscreen', cursive;
    color: #000;
    padding: 10px;
    width: 100px;
    border: 2px solid #fff;
}

#rockBtn {
    background-color: #FDF200;
}

#paperBtn {
    background-color: #FF85EA;
}

#scissorsBtn {
    background-color: #01FFCA;
}